@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Inter";
    src: url("https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmME.woff2")
      format("woff2");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }
  html,
  body,
  #root {
    height: 100%;
  }
  body {
    background-color: #0a0f1a;
    color: #e5e7eb;
    font-family: theme("fontFamily.inter");
  }
}
